<ion-view title="MusicEnvironment" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="musicEnvironment2-form3" class="list">
      <h2 id="musicEnvironment2-heading5" style="color:#3432A4;">Registrarse</h2>
      <ion-list id="musicEnvironment2-list3">
        <label class="item item-input" id="musicEnvironment2-input3">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="musicEnvironment2-input4">
          <span class="input-label">Alias</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="musicEnvironment2-input5">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <button id="musicEnvironment2-button5" class="button button-positive  button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>