<ion-view title="MusicEnvironment" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="musicEnvironment-form1" class="list">
      <h2 id="musicEnvironment-heading1" style="color:#3432A4;">Iniciar sesión</h2>
      <ion-list id="musicEnvironment-list1">
        <label class="item item-input" id="musicEnvironment-input1">
          <span class="input-label">Alias</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="musicEnvironment-input2">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="funciones.salaDeClasicos" id="musicEnvironment-button1" class="button button-positive  button-block">Iniciar sesión</a>
      <button id="musicEnvironment-button2" class="button button-positive  button-block button-clear">Crear nueva cuenta</button>
    </form>
  </ion-content>
</ion-view>