<ion-view title="Sala Bailables" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 286px; height: 12px;"></div>
    <h3 id="salaBailables-heading3" style="color:#3432A4;text-align:center;">Habitación Bailable</h3>
    <div class="spacer" style="width: 286px; height: 36px;"></div>
    <form id="salaBailables-form4" class="list">
      <ion-toggle toggle-class="toggle-positive" id="salaBailables-toggle7" name="danceEN">Habilitar Sala</ion-toggle>
    </form>
    <ion-list id="salaBailables-list6">
      <ion-item id="salaBailables-list-item16">Item 1</ion-item>
    </ion-list>
  </ion-content>
</ion-view>