<ion-view title="Sala de clasicos" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 286px; height: 29px;"></div>
    <form id="salaDeClasicos-form2" class="list">
      <h3 id="salaDeClasicos-heading2" style="color:#3432A4;font-weight:400;text-align:center;">Habitación de clásicos</h3>
      <div class="spacer" style="width: 286px; height: 60px;"></div>
      <ion-toggle toggle-class="toggle-positive" id="salaDeClasicos-toggle1" name="classicEN">Habilitar sala</ion-toggle>
    </form>
    <ion-list id="salaDeClasicos-list4">
      <ion-item id="salaDeClasicos-list-item7">Item 1</ion-item>
    </ion-list>
  </ion-content>
</ion-view>